<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>PRACTICO1</title>
</head>
<body>
    <header  >
        <img src="/images/logo-mercado-liebre.svg" height="100px" alt=""> <br>
        <img src="https://fontawesome.com/icons/hand-holding-usd?style=solid#" alt="">
        <h4>Compra en cuotas y sin tarjeta de credito </h4>

        <ul>
            <li><a href=""> Ofertas</a> </li>
            <li><a href=""> Tiendas Oficiales</a></li>
            <li><a href=""> Vender</a></li>
            <li><a href=""> Ayuda</a></li>
        </ul>

        <ul>
           <li> <a href=""> Crea tu cuenta</a> </li>
           <li> <a href=""> Ingresa</a> </li>
           <li> <a href=""> Mis Compras</a> </li>
        </ul>
    </header>


    <img src="/images/img-home-banner.jpg" height="100" alt=""> <br>
    <h3>Basado en tu ultima visita </h3>

    <img src="/images/img-cafetera-moulinex.jpg" height="250" alt=""> <br>
    <i class="fas fa-truck" id="camioncito" ></i>
    <ol>
       <li class ="precios" > $6.770</li><br>
       <li class ="descuentos"> 40% OFF</li><br>
       <li class = "descripciones"> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet. </li><br>
    </ol>
    <img src="/images/img-macbook-pro-2019.jpg" height="250"  alt=""><br>
    <i class="fas fa-truck" id="camioncito" ></i>
        
    <ol>
        <li class ="precios" > $230.000</li><br>
        <li class ="descuentos" >20% OFF</li><br>
        <li class = "descripciones">Macbook Pro 2019 Lorem ipsum, dolor sit amet. </li><br>
     </ol>


    <img src="/images/img-samsung-galaxy-s10.jpg" height="250" alt=""><br>
    <i class="fas fa-truck" id="camioncito"></i>
    
    <ol>
        <li class ="precios" > $70.500</li><br>
        <li class ="descuentos" >15% OFF</li><br>
        <li class = "descripciones">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</li><br>
     </ol>

    
    <img src="/images/img-tv-samsung-smart.jpg" height="250" alt=""> <br>
    <i class="fas fa-truck" id="camioncito" ></i>
    
    <ol>
        <li class ="precios" > $34.500</li><br>
        <li class ="descuentos" >5% OFF</li><br>
        <li class = "descripciones"> SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</li><br>
     </ol>


    <h2>Ofertas </h2>
    <img src="/images/img-cafetera-moulinex.jpg" height="250" alt=""> <br>
    <i class="fas fa-truck" id="camioncito" ></i>
    <ol>
        <li class ="precios" > $6.770</li><br>
        <li class ="descuentos" 40% OFF</li><br>
        <li class = "descripciones"> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet. </li><br>
     </ol>

    <img src="/images/img-macbook-pro-2019.jpg" height="250"  alt=""><br>
    <i class="fas fa-truck" id="camioncito" ></i>
    <ol>
        <li class ="precios" > $230.000</li><br>
        <li class ="descuentos" >20% OFF</li><br>
        <li class = "descripciones">Macbook Pro 2019 Lorem ipsum, dolor sit amet. </li><br>
     </ol>
    
    <img src="/images/img-samsung-galaxy-s10.jpg" height="250" alt=""><br>
    <i class="fas fa-truck" id="camioncito" ></i>
    <ol>
        <li class ="precios" > $70.500</li><br>
        <li class ="descuentos" >15% OFF</li><br>
        <li class = "descripciones">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</li><br>
     </ol>

    
    <img src="/images/img-tv-samsung-smart.jpg" height="250" alt=""> <br>
    <i class="fas fa-truck" id="camioncito" ></i>
    <ol>
        <li class ="precios" > $34.500</li><br>
        <li class ="descuentos" >5% OFF</li><br>
        <li class = "descripciones"> SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</li><br>
     </ol>

    <h3>Pagá con tarjeta o en efectivo</h3>
    <p> Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro! </p>
    
    <h3>Envío gratis desde los $ 2.500</h3>
     <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>   
    
     <h3>Seguridad, de principio a fin</h3>   
     <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre prtegid@.</p>   
    <br>
    <p> Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
</body>
</html>