<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>PRACTICO1</title>
</head>

<body>
    <header>
        <div class="container">
            <img class="logoML" src="/images/logo-mercado-liebre.svg" alt="LogoMeLi"> 
            <div class="buscar">
               <input id="imp-buscar" type="text" name="buscar" placeholder="Buscar productos, marcas">
               <i class="fas fa-search"></i>  
            </div>
               
        </div>  

        <h4>Compra en cuotas y sin tarjeta de credito </h4>  

        <section class="listas">
            <section class="lista1">
                <div>
                    <a href=""> Ofertas</a>
                </div>
                <div>
                    <a href=""> Tiendas Oficiales</a>
                </div>   
                <div>
                    <a href=""> Vender</a>
                </div>   
                <div>
                    <a href=""> Ayuda</a>
                </div>   
            </section>    
            <section class="lista2">
                <div>
                    <a href="registro"> Crea tu cuenta</a>
                </div>
                <div>
                    <a href="login"> Ingresa</a> 
                </div>   
                <div>
                    <a href=""> Mis Compras</a>
                </div>   
            </section>
        </section>

        <div class="btnMenu">
            <i class="fas fa-bars"></i>
        </div>
 
        <br>

    </header>

    <section id="banner">
       <img id="img" src="/images/img-home-banner.jpg" alt=" Logo Mercado LIbre"> <br>
    </section>

    <main>
        <h2>Basado en tu ultima visita </h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width=100% alt="cafetera"> 
                <i class="fas fa-truck" id="camion"></i>
                <div class="caja-articulo">
                    <p class="precios"> $6.770</p>
                    <p class="descuentos"> 40% OFF</p>
                <!--     <p class="descripciones"> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet. </p>  -->
                                   
                </div>
            </article>    
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width=100% alt="cafetera"> 
                <div class="caja-articulo">
                   <i class="fas fa-truck" id="camion"></i>
                    <ol>
                        <li class="precios"> $230.000</li>
                        <li class="descuentos"> 20% OFF</li>
                        <li class="descripciones"> Macbook Pro 2019 Lorem ipsum, dolor sit amet. </li><br>
                    </ol>
                </div>
            </article>    
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width=100% alt="cafetera"> 
                <div class="caja-articulo">
                   <i class="fas fa-truck" id="camion"></i>
                    <ol>
                        <li class="precios"> $70.500</li>
                        <li class="descuentos"> 15% OFF</li>
                        <li class="descripciones"> Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet. </li><br>
                    </ol>
                </div>
            </article>    
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width=100% alt="cafetera"> 
                <div class="caja-articulo">
                   <i class="fas fa-truck" id="camion"></i>
                    <ol>
                        <li class="precios"> $34.500</li>
                        <li class="descuentos"> 5% OFF</li>
                        <li class="descripciones"> SmartTv Samsung 43" Lorem ipsum, dolor sit amet. </li><br>
                    </ol>
                </div>
            </article>    
        </section>    
    
        <h2>Ofertas </h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width=100% alt="cafetera"> 
                <div class="caja-articulo">
                    <i class="fas fa-truck" id="camion"></i>
                    <ol>
                        <li class="precios"> $6.770</li>
                        <li class="descuentos"> 40% OFF</li>
                        <li class="descripciones"> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet. </li><br>
                    </ol>
                </div>
            </article>    
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width=100% alt="cafetera"> 
                <div class="caja-articulo">
                   <i class="fas fa-truck" id="camion"></i>
                    <ol>
                        <li class="precios"> $230.000</li>
                        <li class="descuentos"> 20% OFF</li>
                        <li class="descripciones"> Macbook Pro 2019 Lorem ipsum, dolor sit amet. </li><br>
                    </ol>
                </div>
            </article>    
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width=100% alt="cafetera"> 
                <div class="caja-articulo">
                    <i class="fas fa-truck" id="camion"></i>
                    <ol>
                        <li class="precios"> $70.500</li>
                        <li class="descuentos"> 15% OFF</li>
                        <li class="descripciones"> Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet. </li><br>
                    </ol>
                </div>
            </article>    
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width=100% alt="cafetera"> 
                <div class="caja-articulo">
                    <i class="fas fa-truck" id="camion"></i>
                    <ol>
                        <li class="precios"> $34.500</li>
                        <li class="descuentos"> 5% OFF</li>
                        <li class="descripciones"> SmartTv Samsung 43" Lorem ipsum, dolor sit amet. </li><br>
                    </ol>
                </div>
            </article>    
        </section>    
    </main>
        







    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card" id="color-icono"></i>
                <p class="subtitulos">Pagá con tarjeta o en efectivo</p>
                <p> Con MercadoLiebreCash tenés cuotas sin interés con nntarjeta o efectivoen puntos de
                    pago. ¡Y siempre es seguro! </p>
            </article>
              
            <article>
                <i class="fas fa-car-side" id="color-icono"></i>
                <p class="subtitulos">Envío gratis desde los $ 2.500</p>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                    productos. Es un beneficio de MercadoPuntos.</p>
            </article>
                
            <article>
                <i class="fas fa-user-shield" id="color-icono"></i>
                <p>Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.</p>
                </article>   
            </section>
            <p> Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </footer>    
    </div>

</body>

</html>