<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>PRACTICO1</title>
</head>
<body>
    <header  >
        <img src="/images/logo-mercado-liebre.svg" alt=""> <br>
        <img src="https://fontawesome.com/icons/hand-holding-usd?style=solid#" alt="">
        <h4>Compra en cuotas y sin tarjeta de credito </h4>
        <ul>
            <li><a href=""> Ofertas</a> </li>
            <li><a href=""> Tiendas Oficiales</a></li>
            <li><a href=""> Vender</a></li>
            <li><a href=""> Ayuda</a></li>
        </ul>

        <ul>
           <li> <a href="registro"> Crea tu cuenta</a> </li>
           <li> <a href="login"> Ingresa</a> </li>
           <li> <a href=""> Mis Compras</a> </li>
        </ul>
    </header>


    <p><label for="nombre">Nombre y Apellido </label></p>
    <p><input type="text" id="nombre" name="nombre"></p>

    <p><label for="usuario">Nombre de Usuario </label></p>
    <p><input type="text" id="usuario" name="usuario"></p>

    <p><label for="email">Ingrese su correo</label></p>
    <p><input type="email" id="email" name="email"></p>

    <p><label for="password">Contraseña</label></p>
    <p><input type="password" id="password" name="password"></p>

    <p><label for="fec-nac">Fecha de Nacimiento</label></p>
    <p><input type="date" id="fec-nac" name="fec-nac"></p>

    <p><input type="submit" value"enviar"> </p>

    <i class="fas fa-credit-card" id="color-icono"></i>
    <p class="subtitulos">Pagá con tarjeta o en efectivo</p>
    <p> Con MercadoLiebreCash tenés cuotas sin interés con nntarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro! </p>
     
    <i class="fas fa-car-side" id="color-icono"></i>
    <p class="subtitulos" >Envío gratis desde los $ 2.500</p>
     <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>   
    
     <p3>Seguridad, de principio a fin</p>   
     <i class="fas fa-user-shield" id="color-icono"></i>
     <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre prtegid@.</p>   
    <br>
    <p> Copyright © 1999-2019 MercadoLiebre S.R.L.</p>

