<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>PRACTICO1</title>
</head>

<body>
    <header>
        <div class="container">
            <img class="logoML" src="/images/logo-mercado-liebre.svg" alt="LogoMeLi"> 
            <div class="buscar">
               <input id="imp-buscar" type="text" name="buscar" placeholder="Buscar productos, marcas">
               <i class="fas fa-search"></i>  
            </div>
               
        </div>  

        <h4>Compra en cuotas y sin tarjeta de credito </h4>  

        <section class="listas">
            <section class="lista1">
                <div>
                    <a href=""> Ofertas</a>
                </div>
                <div>
                    <a href=""> Tiendas Oficiales</a>
                </div>   
                <div>
                    <a href=""> Vender</a>
                </div>   
                <div>
                    <a href=""> Ayuda</a>
                </div>   
            </section>    
            <section class="lista2">
                <div>
                    <a href="registro"> Crea tu cuenta</a>
                    <i class="fas fa-id-card"></i>
                </div>
                <div>
                    <a href="login"> Ingresa</a> 
                    <i class="fas fa-sign-in-alt"></i>
                </div>   
                <div>
                    <a  href="" > Mis Compras</a>
                    <i class="fas fa-shopping-basket"></i>
                </div>   
            </section>
        </section>

        <div class="btnMenu">
            <i class="fas fa-bars"></i>
        </div>
 
        <br>

    </header>


    <div id="centrar">
        <p><input type="text" class="redondeado"  name="nombre" placeholder="Nombre de usuario"  ></p>
        <p><input type="password" class="redondeado" id="password" placeholder="Elegi tu contraseña"  ></p>
        <p><input id="enviar" type="submit" class="redondeado" value="Enviar"> </p>
    </div>
    
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"  ></i>
                <p class="subtitulos">Pagá con tarjeta o en efectivo</p>
                <p> Con MercadoLiebreCash tenés cuotas sin interés con nntarjeta o efectivoen puntos de
                    pago. ¡Y siempre es seguro! </p>
            </article>
              
            <article>
                <i class="fas fa-gift"></i> 
                <p class="subtitulos">Envío gratis desde los $ 2.500</p>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                    productos. Es un beneficio de MercadoPuntos.</p>
            </article>
                
            <article>
                <i class="fas fa-user-shield" ></i>
                <p class="subtitulos">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.</p>
            </article>   
        </section>
        <p id="copyright"> Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>